[user]
	email = muslimow9@yandex.ru
	name = artur
	githubNixosToken = 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
	githubArthomeToken = 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
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
